

.sign-up-wrapper {
    width: 100%;
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-bg {
    background-image: url("../../../assets/business/maison-bg 4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.left-bg img {
    padding: 20px;
    width: 350px;
}


/* SIGN-UP CONTAINER */

.sign-up-container {
    padding: 50px;
    width: 100%;
    height: auto;
    gap: 30px;

    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sign-up-container h1 {
    font-size: 2.5rem;
}

/* SIGN-UP FORM */

.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}



.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sign-up-form label {
    padding-top: 20px;
}

.sign-up-form input,
.input-box input {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #DEDEDE;
    border-radius: 10px;

    padding: 20px;
    font-family: 'Nunito','sans-serif';
    letter-spacing: 1.5px;
    font-size: 1rem;
}

/* FULL NAME FORM */

.email-bday-form,
.full-name-form {
    display: flex;
    flex: row;
    width: 100%;
    gap: 20px;
}

/* CHECKBOX */

.custom-checkbox {
    position: relative;
    padding-top: 0 !important;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    font-size: 16px;
    width: fit-content;
}

.custom-checkbox input {
    position: absolute;
    width: 125px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #DEDEDE;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-checkbox input:checked + .checkmark {
    border-color: #7850a2;
    background-color: #8851c2;
}

/* Add checkmark */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show checkmark when checked */
.custom-checkbox input:checked + .checkmark::after {
  display: block;
}

/* BUTTONS */

.sign-up-form button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;

    background-color: #B08CCE;
    
    transition: background-color 0.4s ease;
}

.sign-up-form button:hover {
    background-color: #4A2574;
}

/* FOR MOBILE RESPONSIVE */

@media (max-width: 830px) {
    .full-name-form,
    .email-bday-form {
        flex-direction: column;
        gap:0;
    }
}

@media (max-width: 720px) {
    .sign-up-wrapper {
        flex-direction: column;
    }

    .left-bg img {
        width: 200px;
    }
}