

.login-wrapper {
    width: 100%;
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-bg {
    background-image: url("../../../assets/business/maison-bg 4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.left-bg img {
    padding: 20px;
    width: 350px;
}


/* LOGIN CONTAINER */

.login-container {
    padding: 50px;
    width: 100%;
    height: auto;
    gap: 30px;

    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-container h1 {
    font-size: 2.5rem;
}

/* LOGIN FORM */

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.form-spacing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #DEDEDE;
    border-radius: 15px;

    padding: 20px;
    font-family: 'Nunito','sans-serif';
    letter-spacing: 1.5px;
    font-size: 1rem;
}

.login-form input::placeholder {
    font-family: 'Nunito','sans-serif';
    letter-spacing: 1.5px;
    font-size: 1rem;
}

.sign-in-policy p,
.login-divider p,
.register-prompt {
    text-align: center;
}

/* BUTTONS */

.login-form button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;

    background-color: #B08CCE;
    
    transition: background-color 0.4s ease;
}

.login-form button:hover {
    background-color: #4A2574;
}

/* LOGIN DIVIDER */

.login-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-divider p {
    width: 50%;
    padding: 10px;
    color: #DEDEDE;
}

.left-line {
    width: 50%;
    height: 2px;
    background-color: #DEDEDE;
}

.right-line {
    width: 50%;
    height: 2px;
    background-color: #DEDEDE;
}

/* SIGN-IN METHODS */

.sign-in-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 20px;
    width: 100%;
}

.sign-in-methods button {
    width: 100%;
    height: 100px;

    border: none;
    border-radius: 10px;
    background-color: #DEDEDE;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sign-in-methods button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
}

.sign-in-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOR MOBILE RESPONSIVE */

@media (max-width: 720px) {
    .login-wrapper {
        flex-direction: column;
    }

    .left-bg img {
        width: 200px;
    }
}